/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #e7ff99;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Raleway", sans-serif;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1em 0.625em;
  margin: 0em 1em 1em 1em;
}

.nav-links.active {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* ==========================================================================
   Headings
   ========================================================================== */
.heading-section {
 background-image:  url(../img/green-curve1.jpg); 
 background-size: cover;
 height: 400px; 
}
.main-headings {
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
#titleline1 {
  margin: 0px;
  padding-top: .5em;
}
#titleline2 {
  margin: 0px;
} 
.main-headings h3 {
  margin: 0px;
  font-size: 1.5em;
}

/* ==========================================================================
   Definition Area Section
   ========================================================================== */
.definition-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
  font-size: 1em;
}

.kids-img {
  display: none;
}

/* Symptoms section */

.symptom-wrapper h2 {
  font-family: "Kalam", cursive;
  font-size: 2em;
  text-align: center;
}

.symptoms h3 {
  font-family: "Kalam", cursive;
  padding-bottom: 10px;
  font-size: 1.5em;
}
.symptoms {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  margin: 4em;
}

.symptom-box {
  background: white;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.symptom-box h3 {
  border: none;
  box-shadow:  none;
  text-align: center;
}
.symptom-box img {
  text-align:  center;
}
.symptoms-list {
  text-align: left;
}

/* Video section */
.video-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 3em 0 3em 0;
  background-image: linear-gradient(270deg, rgb(0, 138, 28) 0%, rgb(160, 207, 0) 100%);
}

/* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
.video-container {
  overflow: hidden;
  position: relative;
}

.video-iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
/***************************************************************************
/* FOOTER
/***************************************************************************/
footer  {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
  font-size: 2em;
}
.logo {
  display: flex;
}
.mail-icon {
  margin: 1.25em;
  display: flex;
}
/* ==========================================================================
   Resource Page
   ========================================================================== */  
.res-heading {
  margin: 0;
}
.res-download {
     font-size: 1em;
     display: flex;
     justify-content: flex-end;
     padding-bottom: 1em;
     text-decoration: underline;
     cursor: pointer;
   }

.res-section {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 1em;
  margin: 0 .5em 0 .5em;
}
.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: .65em;
}
.res-box {
  font-family: "Raleway", sans-serif;
  font-size: .60em;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 10px;
  background-image: linear-gradient(270deg, rgb(0, 138, 28) 0%, rgb(160, 207, 0) 100%);
}

.footer-credit {
  font-size: .5em;
}

/*   404-Page not found
/* 404 PAGE */
.page-404-container {
  max-width: 960px;
  height: 100%;
}

.page-404-img {
  margin: 0 auto;
  display: inline-block;
  width: 300px;
}
.page-404-head {
  font-family: "Kalam", cursive;
  font-size: 2.5em;
  text-align: center;
}

.page-404-para {
  margin: 0 auto;
  width: 500px;
  display: inline-block;
  text-align: center;
}
.page-404-para p {
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  line-height: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* Tablet styles here */
@media all and (min-width: 768px) {

  .menu {
    display: flex;
    font-size: 1.5em;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
  }
  .menu li {
    padding: 1em;
  }

.main-headings {
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}
#titleline1 h1 {
    font-size: 4em;
  }         
.main-headings h3 {
    padding-bottom: 1em;
  }
.definition-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
  font-size: 1em;
}
.definition {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-right: 1em;
}

.kids-img {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  box-shadow: 10px 10px 10px grey;
}
.symptom-wrapper h2 {
  font-size: 3em;
}
.symptoms h3 {
  padding-bottom: 10px;
  font-size: 2em;
}
.symptoms-list {
  font-size: 1.5em;
}

/*  Video      */
.video-container {
  overflow: hidden;
  position: relative;
  height: 315px;
  width: 560px;
}

.video-iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
/* Resource page */
.res-section {
font-size: 2em;
margin: 0 2em 0 2em;
}
/***************************************************
/* Desktop styles here */
/***************************************************/

@media all and (min-width: 1200px) {

.menu {
    display: flex;
    font-size: 1.5em;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
  }
.menu li {
    padding: 1em;
  }

.main-headings {
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}
#titleline1 h1 {
    font-size: 4em;
  }         
.main-headings h3 {
    padding-bottom: 1em;
  }

.definition-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 4em;
}
.definition {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-right: 1em;
}
.kids-img {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 10px 10px 10px grey;
  margin: 0 auto;
  width: 100%;
}

.symptom-wrapper h2 {
  font-size: 3em;
}
.symptoms h3 {
  padding-bottom: 10px;
  font-size: 2em;
}
.symptoms-list {
  font-size: 1.5em;
}

/*  Video      */
/* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
.video-container {
  overflow: hidden;
/*  padding-top: 56.25%; */
  position: relative;
  height: 315px;
  width: 560px;
}

.video-iframe {
  border: 0;
  height: 100%;
  width: 100%;
/*  position: absolute;*/
  left: 0;
  top: 0;
}
/* Resource page */
.res-section {
font-size: 2em;
margin: 0 2em 0 2em;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
 }